<div class="tweet">
  <p class = "tweet-text"><%= tweet.text %></p>
  <div class="tweet-name">
    <%= link_to  "投稿者：#{tweet.user.name}", user_path(tweet.user)%>
  </div>
  <div id="like-btn<%= tweet.id %>">
    <%= render partial: "likes/like", locals: { tweet: tweet } %>
  </div>
</div>
